<configuration>

    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger{36} -- %msg%n
            </pattern>
        </encoder>

    </appender>
    <!--    <appender name="myFileAppender" class="ch.qos.logback.core.FileAppender">-->
    <appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            JournalApp.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>JournalApp-%d{yy-dd-HH-mm}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <!--            when file size is grater than 10 MB it will create a new file-->
            <!--           if no of files more than 10 then it will delete the oldest one-->
           <!--           file name pattern will look like this JournalApp-25-26-02-1.0.log-->
        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger{36} -- %msg%n
            </pattern>
        </encoder>


    </appender>

    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </root>

</configuration>

        <!--The <configuration > element is the root element of the logback.xml file. All Logback configuration is enclosed
         within this element.
         <Appender> means where we want to print the log and which file
        -->